# Copy to generated-config.env and fill in. Do not commit generated-config.env.
POSTGRES_SERVER=REPLACE_ME
FRONTEND_HOST=https://test-k8s.prod.piercuta.com
AWS_SECRET_ARN_SSM_PARAM=/test-k8s/prod/aurora_master_user_secret_arn
MEDIA_QUEUE_URL=
